
body{
  background-color: #99ddff !important;
}

#about {
  text-align: center;
  
#source{
  text-align:center;
}

img{
  display: block;
  margin: 0 auto;
}

.text{
  text-align: center;
}

#finances{
  text-align: center;
}
#mentalhealth{
  text-align: center;
}
#academics{
  text-align: center;
}
#resources{
 text-align: center; 
}
.nav nav-tabs{
  border: 1px solid black;
}

h2{
  font-weight: bold;
}
#home{
  color: #0000FF;
  padding-top: 30px;
}
/* body a {
  color: black;
  background-color:#FF7F50;
} */


.nav {
  position: fixed;
  float: none;
    width:100%;
}

.nav-bar {
  display: inline-block;
}

.adulting101 {
  margin-top: 5%;
  text-align: center;
  text-shadow: 0 0 7px #1E90FF;

  color: #1E90FF;
} 

.financeimg{
  width: 50%;
}

.nav > li > a:hover{
    background-color:#000000;
}